@media screen and ( max-width: 1350px )
  .nav
    &__item
      margin-right: 1.5rem

@media screen and ( max-width: 1205px )
  html  
    font-size: 13px
  .logo
      margin-right: 1rem
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__button
      font-size: 1.08rem
    &__text
      font-size: 1.5rem
      max-width: 35rem
      margin-bottom: 2.28rem
    &__content
      //max-width: 30rem
  .title
    font-size: 1.92rem

@media screen and ( max-width: 1070px )
  html  
    font-size: 12px

@media screen and ( max-width: 992px  )
  *:hover 
    box-shadow: none
    cursor: default
  .button
    &:hover
      background-color: $primary

  .nav
    display: none
  .metering, .clients
    display: none
  
  .card
    &__text
       margin-top: -4.3rem
    &__pricetag
      font-size: 1rem
  .six-step
    &__swiper-nav
      margin-top: 0
    &__swiper-menu-item
      flex-basis: 30%
      &:nth-child(1),&:nth-child(4)
        flex-basis: 35%
      &:nth-child(3),&:nth-child(6)
        // margin-right: -30px
        flex-basis: 20%
  .control
    &__section-title 
      color: $light
    &__button
      //flex: 0 0 100%
      max-width: 200px
      margin: 20px 100px 0
    &__input
      &-group
        flex: 0 0 30%
    &__form
      justify-content: space-around
    &__policy-label
      margin: 0
  .team
    padding-top: 100px
    padding-bottom: 740px 
    &__row
      flex-wrap: wrap
    &__col-30
      flex-basis: 45%
      &:nth-child(3)
        margin: 0 auto
  #team__card3
    margin-top: 210px


  // .bg-lines
  //   margin: 0
  //   padding: 0
  //   &>img
  //     display: none
  //   &__white
      //margin-top: -100px
      // &>img
      //   display: none

  // .hero
  //   &__instagram
  //     display: none



@media screen and ( max-width: 790px  )
  .projects
    padding: 3rem 0 29rem 0
    &__row
      flex-direction: column
      align-items: center
    &__col-40
      width: 100%
      flex-basis: 45%
    &__col-60
      margin-top: 20px
      width: 100%
      flex-basis: 45%

  .types__row
    flex-wrap: wrap
  .types__col-30
    flex-basis: 45%
    &:nth-child(3)
      margin: 0 auto
  .hero 
    &__instagram
      display: none
    &__content
      margin-left: 0
  .types
    &__card
      margin-bottom: 5rem
  .section
    &__control
      margin-top: -290px
  .team__card
    margin-bottom: 0
  #team__card3
    margin-top: 90px



       

          


@media screen and ( max-width: 680px  ) 
  .projects
    padding: 3rem 0 29rem 0
    &__row
      flex-direction: column
      align-items: center
    &__col-40
      width: 100%
      flex-basis: 45%
    &__col-60
      width: 100%
      flex-basis: 45%

  .swiper-slide-projects__col-60
    overflow: auto
    height: 100%
    &>img
      object-fit: contain
      width: 100%
      height: 100%
  .swiper__nav
    justify-content: center

  .section-title
    &-projects__heading
      text-align: left
    &__word
      justify-content: left
      &::after
        display: none
    &-projects__text
      text-align: left
    
@media screen and ( max-width: 570px )
  .section
    &__control
      margin-top: 0
    &-title__heading
      font-size: 22px
    &__six-step
      display: none

  .types__container, .footer__container, .control__container, .container--hero, .container__small
    width: 90.67%
  // .container
  //   width: 92%
  .title
    line-height: 132.83%
  .row
    flex-direction: column
    align-items: center
    padding: 0 0
  .projects
    padding-bottom: 36px
    &__col
      &-40
        width: 100%
        flex-basis: 45%
      &-60
        width: 100%
        flex-basis: 45%
        margin: 18px auto 0

  // .section-title
  //   &-projects__heading
  //     text-align: center
  //   &__word
  //     justify-content: center
  //     &::after
  //       display: none
  //   &-projects__text
  //     text-align: center
  .input
    border-bottom: 1px solid $light// rgba(255, 255, 255, 0.8)   
  .types
    // padding-top: 83px
    padding-bottom: 1rem
    // background-color: black
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
    &__pricetag
      font-size: 1.25rem
    &__image
      width: 100%
      max-width: 340px
  // .logo
  //   margin-le: 1.5rem
  .contacts
    &__phone
      // margin-right: 0.83rem 
      margin-right: 0
      text-decoration: none
      color: $light 
    &__button
      display: none

  .hero
    height: auto
    padding-top: 148px
    padding-bottom: 61px
    &__content
     // max-width: 28.33rem
      margin-left: 0
    &__text
      max-width: 25.744rem
      margin-top: 1.08rem
      margin-bottom: 2.75rem
      line-height: 135.84%
    // &__button
    //   display: block
    //   margin-bottom: 2.2rem
    //   margin-right: 0
    //   padding-bottom: 1.55rem
    //   padding-top: 1.55rem
    //   width: 100%
    &__scroll-down
      display: none
    &__button-primary
      width: 100%
      margin-right: 0
    &__button-outline
      margin-top: 26px
      width: 100%
  .control
    background-color: $dark
    color: $light
    line-height: 169.8%
    &__section-title
      color: $light
      margin-top: 0
      padding-top: 51px
      font-size: 22px
    &__video
      max-width: 340px
      min-height: 207px
    &__text
      font-size: 14px
      line-height: 170.2%
      margin-bottom: 32px
      &::before
        margin-bottom: 17px
        max-width: 55px
    &__form
      position: relative
      //justify-content: space-between
      flex-direction: column
      //height: 290px
    &__input
      width: 100%
      color: $light
      &::placeholder
        font-size: 18px
        line-height: 138.72%
        color: $light
      &-group
        max-width: 100%
        flex-basis: 100%
        &:nth-child(2)
          margin: 0
          margin-top: 57px
        &:nth-child(1)
          margin: 0
    &__label
      font-size: 15px
    &__policy
      position: absolute
      bottom: 88px
      flex-basis: 100%
      margin: 0 auto 0 0
    &__policy-label 
      // justify-content: flex-start
      // margin-right: 4px
    &__button
      margin: 103px auto -24px
      width: 100%
      max-width: 100%
    &__video
      margin-bottom: 28px

  .policy__label
    font-size: 16px

  .video__play
    max-width: 65px
    cursor: default

  .footer
    background: $dark
    padding-bottom: 150px;
    &__wrap
      margin-top: 0
      padding: 0
      background: none
    &__form
      max-width: 100%
      margin-bottom: 46px

    &__contacts
      padding-top: 275px
    &__digital-contacts
      max-width: 99px
      min-height: 39px
    &__policy
      margin-bottom: 67px
    &__map
      // display: none
      max-height: 255px
      margin-top: -460px
    &__input
      &-group
        display: flex
        flex-basis: 100%
    &__button
      width: 100%
    &__menu
      display: none

  .digital-contacts-email
    margin-right: 19px
  .policy
    &__label--center
      justify-content: start
  .map
    height: 255px
    width: 100%


  .team
    padding-bottom: 240px 
    &__card
      width: 304px
      margin-top: 90px
      &-text
        margin-right: auto
        margin-left: auto
        &-img-wrap
          width: 304px
  
  .design
    padding: 81px 0 100px 0
    background-color: $dark
    &__title
      color: $light


    

// @media screen and ( max-width: 500px )     
//   .footer
//     &__map
//       display: block
//       // max-height: 255px
//       height: 255px

@media screen and ( max-height: 520px  )
  .hero
    &__scroll-down
      display: none


@media screen and ( max-height: 460px  )
  .modal
    &__input
      &-group
        margin-bottom: 20px
    &__policy
      margin-bottom: 10px

@media screen and ( max-height: 380px  )
  .modal
    &__close
      top: 13px
    &__title
      margin-bottom: 13px
    &__button
        padding: 8px 47.5px

      

    



  