.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    width: 100%
    max-width: 883px //63.07rem
    margin: auto
    margin-top: -260px
    margin-bottom: 3.714rem
    padding: 2.5rem
    padding-bottom: 10px
    background: $dark url('../img/bg-form-footer.png')  no-repeat center / cover//repeat //center
    // background-color: $black  

  &__title
    margin-top: 0
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 1.428rem
    font-weight: normal
    text-align: center
    margin-bottom: 3.214rem

  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    margin-bottom: 2rem
    padding: 1.285rem 4.4rem
    font-size: 15px
    font-weight: 500
    line-height: 26px
    min-height: 51px
    min-width: 200px
    border-radius: 0
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__contacts
    max-width: 38.07rem
    margin: 0 auto
    margin-bottom: 3rem
  &__text-contacts
    text-align: center
    font-family: Yeseva One
    font-style: normal
    font-weight: 400
    font-size: 1.428rem
    line-height: 2rem
    text-transform: uppercase
    color: $primary
    margin: 0
    margin-bottom: 1.86rem

  &__digital-contacts
    margin: 0 auto
    max-width: 71px
    min-height: 28px
    display: flex
    justify-content: space-between
  // &__digital-contacts-img
  &__map
    width: 100%
    margin: auto
    max-width: 66.07rem
    margin-bottom: 4.64rem
  &__thanks-block
    display: none
    width: 100%
    max-width: 37.142rem
    margin: auto
.map
  height: 33.214rem
  width: 100%
  // filter: grayscale(100%)
  // transition: 1s
	



