a {
  text-decoration: none;
  display: inline-block;
}

a::after {
  content:'';
  display: block;
  height: 1px;
  background-color: #000;
  transition: 0.2s;
  width: 0%;
}

a:hover::after{
  width: 100%;
}