* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial;
  font-size: 22.5px;
  line-height: 1.2;
  font-weight: 700;
  color: #2f2f2f;
}

 .wrap { 
  position: relative;
  width: 1200px;
  height: 675px;
  background-color: #f6f6f6;
}

.card {
  position: absolute;
  left: 50%;
  margin-left: -505px;
  top: 50%;
  margin-top: -251.5px;
  width: 1010px;
  height: 503px;
  border: solid 1px #e5e5e5; 
  background-color: white;
}

.wrap-card {
  position: relative;
    width: 1010px;
  height: 503px;
}
.wrap-img {
  position: relative;
  display: inline-block; 
  /* margin: 64px 48px 64px 48px; */
  margin: 64px 0 64px 0; 
  width: 46%;
  height: 375px;
}

.img {
  position: absolute;
  left: 50%;
  margin-left: -188px;
  width: 376px;
  height: 375px;
  /* display: inline-block; */
  /* text-align: center; */
  /* margin: 1% 0 1% 0; */

}

.specification {
  display: inline-block;
  width: 53%;
  /* margin-left: -4px; */
  background-color: rgb(245, 225, 225);
}

.text-specification {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f2f2f;
}

.box {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: red;
  /* margin: 20px; */
  border: solid 10px gray;

}

.box-2 {
  margin: -4px;
}

.link {
  background-color: gray;
  padding: 10px;
}

.box-3,
.box-4,
.box-5,
.box-6 {
  display: inline-block;

}

.box-3 {

  background-color: grey;
  width: 300px;
  height: 300px;

  vertical-align: top;
}

.box-4 {
  background-color: red;
  width: 100px;
  height: 200px;
  vertical-align: text-top;
}

.box-5 {
  vertical-align: text-top;
  width: 100px;
  height: 100px;
  background-color: red;
  /* margin: 20px; */
  border: solid 10px gray;
}

.tex {
  font-size: 2rem;
}

.tex sub {
  vertical-align: text-bottom;
  font-size: 1.8rem;
}

.tex sup {
  vertical-align: text-top;
  font-size: 1.6rem;
}