* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; 
  /* width: 100%; */
}


.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 30%;
}

h1 {
  margin: 0;
  /* font-family: ProximaNova; */
  font-size: 36px;
  letter-spacing: 1.4px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.goods {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-basis: 40%;
  margin-bottom: 15%;
  width: 100%;
  max-width: 1140px;
  flex-wrap: wrap;
}

.article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-basis: 25%;
  /* min-width: 263px;*/
  min-height: 365px; 
}

.name {
  /* font-family: ProximaNova; */
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.price {
  /* font-family: ProximaNova; */
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}

.btn {
  border: 1.0px solid #23bac1;
  background-color: transparent;
  padding: 19px 72px;
}

.text-btn{
  /* font-family: ProximaNova; */
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #23bac1;
}
