*   { 
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}


.services__container, .addservices__container {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 1900px;
}

.container__title {

  /* margin-bottom: 60px; */
}


.subtitle{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.container__subtitle{
  margin-top: 60px;
  margin-bottom: 90px; 
}

.container--background {
  background-color: #286d0a;
}


.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


.services__wrap {
  margin: auto;
  max-width: 1275px;
}

.item {
  
}
.service__item{
  max-width: 400px;
  width: 100%;
  min-height: 661px;
}

.service--item{
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0,0,0,0.17);
}

.item__text {
  text-align: center;
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #1a1820;
  margin: 55px 0 35px 0;
}

.foto {
  display: block;
}

.item__foto {
  margin: auto;
}

.price {
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #1a1820;
  font-size: 30px;
}

.item__price {
  text-align: center;
  margin-bottom: 35px;
}

.item__wrap-list-button{
  display: flex;
  flex-direction: column;

  justify-content: start;
  min-height: 220px;
  height: 100%;
  margin-bottom: 45px;
}

ul {
  margin: 0;
  list-style-image: url("/3_addTask/2/img/marker.jpg");
  list-style-position: inside;
  text-align: center; 
  padding: 0;
  font-size: 18px;
line-height: 30px;
font-weight: 400;
color: #1a1820;
}

.item__list {
  /* margin-bottom: 20px; */
}



.button {
  display: block;
  box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.03);
  background-color: #ffb504;
  background-image: linear-gradient(0.0deg, #f5ad00 0%, #ffb504 100%);
  border: 1.0px solid #ffba15;
  border-radius: 8.0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.item__button {
  margin: auto auto 0 auto;
}

.button--success {
  padding: 19px 61px;

}

.button--price {
  padding: 14px 46px;
  margin-top: 35px;
}

.addservices__wrap {
  max-width: 1200px;
  margin: auto;
}

