body {
  box-sizing: border-box;
}

.hero {
  background-color: #286d0a;
  font-family: sans-serif;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.hero__title {
  padding: 180px 0 55px 0;
  text-align: center;
}


.subtitle{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 90px; 

}

.hero__subtitle {
  text-align: center;
} 

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1275px;
  padding-bottom: 360px;
}

.hero__cards {
  margin: auto;
}

.item {
  box-shadow: 7px 12px 21px 0px rgba(0,0,0,0.17);
  background-color: #ffffff;

}
.cards__item{
  padding-bottom: 60px;
  max-width: 400px;
  width: 100%;

}

.item__foto {
  margin: auto;
  padding-bottom: 30px;
}

.text {
  text-align: center;
  /* font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #1a1820; */
}
/* 
.item__text {

  padding-bottom: 30px;
} */

.button {
  display: inline;
  border: 2.0px solid #66cc66;
}

.item__button-details {
  margin-right: 10px;
}

.button--details {
  padding: 11px 23px;
  color: #66cc66;
  background-color:transparent;
}

.button--success {
  padding: 11px 32px;
  color: #ffffff;
  background-color: #66cc66;;
}


